language: php
php:
    - 5.3.3
    - 5.4
    - 5.5
    - 5.6
    - hhvm


matrix:
    allow_failures:
        - php: hhvm


before_script:
    # Install Nette Tester & Code Checker
    - travis_retry composer install --no-interaction --dev --prefer-source
    - travis_retry composer create-project nette/code-checker code-checker ~2.5 --no-interaction --prefer-source


script:
    - php code-checker/src/code-checker.php -d libs
    - vendor/bin/phpunit


sudo: false


cache:
    directories:
        - $HOME/.composer/cache
